body, html {
  height: 100%;
}

.watermark {
  /* Background image (KirjApp logo) */
  background-image: url(KirjApp_logo4.svg);

  /* Full height */
  height: 100%;

  /* Image position */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.img-fluid {
  height: 40px
}
